# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012

# S3
S3_BUCKET_NAME=cifra-datalake
S3_BRONZE_PREFIX=bronze/cfdis/
S3_SILVER_PREFIX=silver/cfdis/
S3_GOLD_PREFIX=gold/

# Glue
GLUE_DATABASE=cifra_db
GLUE_SILVER_TABLE=cfdi_silver
GLUE_GOLD_TABLE=cfdi_gold

# Athena
ATHENA_OUTPUT_BUCKET=s3://cifra-datalake/athena-results/

# SageMaker
SAGEMAKER_ROLE_ARN=arn:aws:iam::123456789012:role/CIFRASageMakerRole
SAGEMAKER_ENDPOINT_NAME=cifra-forecast-endpoint

# API Gateway
API_GATEWAY_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/prod
